name: Validate

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x, 24.x]

    steps:
    - uses: actions/checkout@v6.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: corepack enable
    - run: YARN_ENABLE_HARDENED_MODE=1 yarn install
      if: matrix.node-version == '24.x'
    - run: YARN_ENABLE_HARDENED_MODE=0 yarn install
      if: matrix.node-version != '24.x'
    - run: yarn biome ci
    - run: yarn test

  dependabot_auto_merge:
    permissions:
      contents: write
      pull-requests: write
    needs: [build]
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
